.filter {
    margin: 30px 0;
    .filter-body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border: 0.5px solid $maincolor;
        border-radius: 15px;
        @media (max-width: $md4) {
            grid-template-columns: repeat(2, 1fr);
        }
        .filter-item {
            position: relative;
            border-bottom: 0.5px solid $maincolor;
            border-width: 0.5px;
            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background-color: $maincolor;
            }
            &:nth-child(n+5) {
                border: 0;
            }
            &:nth-child(4n+4) {
                &::after {
                    display: none;
                }
            }
            @media (max-width: $md4) {
                &:nth-child(n+5) {
                    border-bottom: 0.5px solid $maincolor;
                }
                &:nth-child(n+7) {
                    border: none;
                }
                &:nth-child(0n+2) {
                    &::after {
                        display: none;
                    }
                }
                &:nth-child(3n+6) {
                    &::after {
                        display: none;
                    }
                }
            }
            .filter-item__title {
                position: relative;
                display: block;
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: $maincolor;
                padding: 16px;
                cursor: pointer;
                &.open {
                    &::after {
                        transform: rotate(180deg) translateY(50%);
                        transition: .4s;
                    }
                }
                sup {
                    position: absolute;
                    top: 12px;
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                    content: url('../img/filter-arrow.svg');
                    width: 16px;
                    height: 16px;
                    transition: .4s;
                }
            }
            .filter-item__submenu {
                position: absolute;
                z-index: 2;
                right: 0.4px;
                top: 49px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(30px);
                transition: all .4s;
                background-color: #FCFCFC;
                width: 100%;
                filter: drop-shadow(0px 5px 15px rgba(120, 120, 120, 0.25));
                &.open {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
                .filter-submenu__list {
                    padding: 16px;
                    .submenu-list__item {
                        color: $maincolor;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 15px;
                        transition: .3px;
                        cursor: pointer;
                        padding: 8px;
                        &:not(:last-child) {
                            margin-bottom: 8px;
                        }
                        &.active {
                            background-color: #444444;
                            border-radius: 8px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
    .tags-filter {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 24px;
        .tag {
            position: relative;
            font-size: 13px;
            line-height: 15px;
            color: $maincolor;
            padding: 5px 15px;
            background-color: #E6E6E6;
            border-radius: 50px;
            .tag-close {
                position: absolute;
                text-align: center;
                width: 18px;
                height: 18px;
                top: -7px;
                right: -8px;
                background-color: #F5F5F5;
                border-radius: 23px;
                line-height: 18px;
                cursor: pointer;
                &::before {
                    content: url('../img/x.svg');
                }
            }
        }
    }
}