.contact {
    max-width: 960px;
    margin: 50px auto;
    .contact-body {
        display: flex;
        justify-content: space-between;
        .contact-aside {
            max-width: 210px;
            .contact-aside__block {
                margin: 20px 0;
                .contact-socials {
                    justify-content: unset;
                    gap: 15px;
                    a {
                        path {
                            fill: $darkgreen;
                        }
                    }
                }
                h2 {
                    font-weight: 700;
                }
                h4 {
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    color: $maincolor;
                    margin-bottom: 10px;
                }
                address,
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 15px;
                    color: $maincolor;
                }
                p {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
                .contact-socials {
                    a {
                        svg {
                            fill: $darkgreen;
                        }
                    }
                }
            }
        }
        .contact-form {
            display: block;
            width: 60%;
            h2 {
                margin-bottom: 37px;
            }
            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column: 1 span;
                gap: 15px 40px;
                input,
                textarea {
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    font-family: inherit;
                    padding: 15px 20px;
                    border: 1px solid #999191;
                    outline: none;
                    transition: outline .3s;
                    &:nth-child(3n + 1) {
                        grid-column: 2 span;
                    }
                    &:focus {
                        outline: 1px solid #999191;
                    }
                }
                textarea {
                    height: 90px;
                    resize: none;
                }
            }
            button {
                display: block;
                margin-top: 35px;
                filter: drop-shadow(0px 8px 4px rgba(9, 156, 148, 0.45));
            }
        }
    }
}