.contact {
    margin: 50px auto;
    .contact-container {
        max-width: 960px;
    }
    .contact-body {
        display: flex;
        justify-content: space-between;
        @media (max-width: $md3) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contact-aside {
            max-width: 210px;
            @media (max-width: $md3) {
                max-width: 100%;
            }
            h2 {
                font-weight: 700;
                @media (max-width: $md3) {
                    text-align: center;
                }
            }
            .contact-aside__blocks {
                @media (max-width: $md3) {
                    display: flex;
                    gap: 30px;
                    margin-bottom: 30px;
                }
                .contact-aside__block {
                    margin: 20px 0;
                    &:nth-child(1) {
                        @media (max-width: $md3) {
                            order: 1;
                        }
                    }
                    .contact-socials {
                        justify-content: unset;
                        gap: 15px;
                        margin: 0;
                        a {
                            path {
                                fill: $darkgreen;
                            }
                        }
                    }
                    h4 {
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 18px;
                        color: $maincolor;
                        margin-bottom: 10px;
                    }
                    address,
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 15px;
                        color: $maincolor;
                    }
                    p {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                    .contact-socials {
                        a {
                            svg {
                                fill: $darkgreen;
                            }
                        }
                    }
                }
            }
        }
        .contact-form {
            display: block;
            width: 60%;
            @media (max-width: $md3) {
                width: 100%;
            }
            h2 {
                margin-bottom: 37px;
                @media (max-width: $md3) {
                    text-align: center;
                }
            }
            form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column: 1 span;
                gap: 15px 40px;
                input,
                textarea {
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    font-family: inherit;
                    padding: 15px 20px;
                    border: 1px solid #999191;
                    outline: none;
                    transition: outline .3s;
                    &:nth-child(3n + 1) {
                        grid-column: 2 span;
                    }
                    @media (max-width: $md4) {
                        &:nth-child(1n + 2) {
                            grid-column: 2 span;
                        }
                    }
                    &:focus {
                        outline: 1px solid #999191;
                    }
                }
                textarea {
                    height: 90px;
                    resize: none;
                }
            }
            button {
                display: block;
                margin-top: 35px;
                filter: drop-shadow(0px 8px 4px rgba(9, 156, 148, 0.45));
            }
        }
    }
}