// MAIN FONT/COLORS
$mainfont: 'Raleway';
$mainsize: 16px;
$maincolor: #000;
$darkgreen: #1C8B82;
$darkcolor: #212121;
$lightgreen: #30D5C8;
// MAIN FONT/COLORS
// CONTAINER
$minwidth: 320px;
$mw: 1140;
$md1: $mw+12;
$md2: 992.98px;
$md3: 767.98px;
$md4: 640px;
$md5: 479.98px;
// CONTAINER
// Global Commands
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $mainfont, sans-serif;
    font-size: $mainsize;
    color: $maincolor;
    overflow-x: hidden;
    font-feature-settings: 'pnum' on, 'lnum' on;
    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: $mw+px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    @media (max-width: $md1) {
        max-width: 970px;
    }
    @media (max-width: $md2) {
        max-width: 750px;
    }
    @media (max-width: $md3) {
        max-width: none;
        padding: 0 15px;
    }
}

aside,
nav,
footer,
header,
section {
    display: block;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

h2 {
    font-size: 30px;
    line-height: 35px;
    color: $darkcolor;
}

// Global Commands