.intro {
    height: 100%;
    .swiper {
        position: relative;
        height: 500px;
        .swiper-wrapper {
            .swiper-slide {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 15px;
                @media (max-width: $md4) {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin: 0 auto;
                }
                h2 {
                    max-width: 400px;
                    font-weight: 700;
                    line-height: 38px;
                    @media (max-width: $md4) {
                        margin: 0 auto;
                    }
                }
                p {
                    max-width: 400px;
                    font-size: 13px;
                    line-height: 18px;
                    color: #444444;
                    @media (max-width: $md4) {
                        margin: 20px auto;
                    }
                }
                .green-btn {
                    margin-top: 25px;
                    width: 160px;
                    filter: drop-shadow(0px 8px 4px rgba(9, 156, 148, 0.45));
                    @media (max-width: $md4) {
                        margin: 0 auto;
                    }
                }
            }
        }
        .swiper-button-prev {
            left: 75px;
            @media (max-width: 1380px) {
                left: 20px;
            }
        }
        .swiper-button-next {
            right: 75px;
            transform: rotate(180deg);
            @media (max-width: 1380px) {
                right: 20px;
            }
        }
        .main-swiper__arrows {
            @media (max-width: 1250px) {
                display: none;
            }
            @media (max-width: $md2) {
                display: block;
            }
            @media (max-width: 840px) {
                display: none;
            }
            &::after {
                content: url('../img/main-slider-arrow.svg');
            }
        }
    }
}

.categories {
    position: relative;
    transform: translateY(-90px);
    margin-bottom: 10px;
    z-index: 3;
    .categories-body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        place-items: center;
        grid-gap: 30px;
        h4 {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
        .categories-card {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                background-color: #2121215e;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
            }
            .categories-card__buttons {
                width: 100%;
                height: 100%;
                opacity: 0;
                position: relative;
                z-index: 2;
                visibility: hidden;
                z-index: 3;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                transition: .3s;
                a {
                    width: 100%;
                    text-align: center;
                }
            }
            &:hover {
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
                .categories-card__buttons {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.services {
    h2 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    p {
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #000000;
        margin-bottom: 55px;
    }
}

.why-us {
    margin: 100px 0;
    h2 {
        text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
    }
    .why-body {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: $md2) {
            flex-direction: column;
        }
        img {
            width: 100%;
            @media (max-width: $md2) {
                height: 450px;
                object-fit: cover;
            }
            @media (max-width: $md5) {
                height: 350px;
                object-fit: cover;
            }
        }
        .why-content {
            display: block;
            .why-content__info {
                h3 {
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 23px;
                    color: $maincolor;
                }
                p {
                    font-size: 13px;
                    line-height: 18px;
                    color: $maincolor;
                }
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.clients {
    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
    .clients-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 30px;
        @media (max-width: $md2) {
            grid-template-columns: repeat(1, 1fr);
        }
        .clients-grid__item {
            display: flex;
            gap: 25px;
            @media (max-width: $md4) {
                gap: 10px;
            }
            @media (max-width: $md5) {
                flex-direction: column;
            }
            img {
                width: 90px;
                height: 90px;
                @media (max-width: $md4) {
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .client-item__info {
            padding: 20px 40px;
            background-color: #F5F5F5;
            @media (max-width: $md5) {
                padding: 20px;
            }
            p,
            b,
            time {
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 0.05em;
                color: $maincolor;
                margin-bottom: 13px;
            }
            b,
            time {
                margin: 0;
                display: block;
                text-align: right;
            }
        }
    }
}

.statistics {
    margin: 100px 0;
    padding: 60px 0;
    h3 {
        color: $darkcolor;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 55px;
    }
    &-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        @media (max-width: $md3) {
            flex-direction: column;
        }
        &__item {
            text-align: center;
            h2 {
                font-weight: bold;
                font-size: 45px;
                line-height: 53px;
                color: $darkcolor;
                margin-bottom: 15px;
            }
            span {
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                color: #212121;
            }
        }
    }
}

.services-details {
    position: fixed;
    inset: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.22);
    &.open {
        opacity: 1;
        visibility: visible;
    }
    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 32px;
        width: 664px;
        @media (max-width: 670px) {
            max-width: 100%;
        }
        background-color: #FFFFFF;
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            line-height: 35px;
            color: $maincolor;
            margin-bottom: 65px;
            @media (max-width: 500px) {
                margin-bottom: 35px;
            }
        }
        .details-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px 40px;
            @media (max-width: 670px) {
                gap: 20px;
            }
            input {
                grid-column: 1 span;
                padding: 15px 30px;
                font-size: 14px;
                line-height: 18px;
                font-family: inherit;
                outline: none;
                transition: .3;
                @media (max-width: 500px) {
                    grid-column: 2 span;
                }
                &::placeholder {
                    color: #999191;
                }
                &:nth-child(3) {
                    grid-column: 2 span;
                }
            }
            button {
                width: 188px;
                font-family: inherit;
                outline: none;
                border: none;
            }
        }
    }
}